<nav class="nav-container">
    <div class="title">
        <a href="/">Softdevfolio</a>
    </div>

    <div class="toggle-navbar">
        <input class="checkbox" type="checkbox" id="toggle">
        <label for="toggle" class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>        
        </label>

        <div class="menu-items">
            <!-- <li><a href="#">About</a></li> -->
            <li><a href="./portfolio">Portfolio</a></li>

            <div class="menu-icons">
                <a href="https://github.com/sithu-khant/softdevfolio" target="_blank"><i class='bx bxl-youtube'></i></a>
                <a href="https://github.com/sithu-khant/softdevfolio" target="_blank"><i class='bx bxl-github' ></i></a>
                <a href="https://github.com/sithu-khant/softdevfolio" target="_blank"><i class='bx bxl-linkedin-square' ></i></a>
                <a href="https://github.com/sithu-khant/softdevfolio" target="_blank"><i class='bx bxl-instagram' ></i></a>
            </div>
        </div>
    </div>
</nav>
